@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  section {
    @apply min-h-dvh py-24;

    &#hero {
      @apply container flex items-center justify-center py-0;
      min-height: calc(100dvh - 84px);
    }
  }

  .logo {
    @apply hover:logo_filter h-11 transition duration-300;

    &_filter {
      filter: invert(72%) sepia(30%) saturate(593%) hue-rotate(139deg) brightness(95%) contrast(82%);
    }
  }

  .menu {
    @apply absolute left-0 right-0 top-0 mt-[84px] flex items-center justify-center bg-white pb-4 lg:pb-0;

    &_desktop {
      margin-top: 0px;
      position: initial;
      display: initial;
    }

    &-link {
      @apply text-center font-inter text-vneutral-200;
    }
  }

  .hero {
    &-btn {
      @apply inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-gradient-to-br 
      from-brand-400 via-[#94bce9] to-violet-300 bg-size-200 bg-pos-0 px-4 
      py-6 text-white transition-all duration-500 hover:bg-pos-100;

      &__text {
        @apply h100 font-semibold;
      }
    }

    &__content {
      @apply z-[2] flex max-w-xl flex-col items-center justify-center gap-4 lg:items-start;

      &-title {
        @apply h500 sm:h600 whitespace-nowrap text-balance text-center font-semibold text-vneutral-50 lg:text-left;
      }

      &-subtitle {
        @apply sm:para-md para-sm text-balance text-center font-normal text-vneutral-400 lg:text-left;
      }

      &-btn-group {
        @apply flex items-center gap-2 pt-4;
      }
    }

    &__image {
      @apply max-w-full ease-in sm:max-w-xl lg:max-w-full;
      transition: opacity 0.3s;

      &_transitioning {
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }
    }

    &__gradient {
      @apply relative left-0 top-[-32rem] z-[1] h-0 w-0 shrink-0 sm:top-[-40rem] lg:top-[-20rem];

      &__ellipse {
        @apply absolute h-52 w-52 shrink-0 rounded-full blur-[61px] sm:h-80 sm:w-80 sm:blur-[124px];

        &_1 {
          z-index: 0;
          background: linear-gradient(313deg, #77fff7 45%, rgba(1, 255, 179, 0) 100%);
        }

        &_2 {
          left: 5rem;
          z-index: -1;
          background: linear-gradient(313deg, #0038ff 0%, rgba(246, 252, 255, 0) 100%);
        }
      }
    }
  }

  .advantages {
    &-item {
      @apply flex flex-col items-center justify-center gap-4 p-4;

      &__content {
        @apply flex flex-col items-center gap-2;
      }

      &__title {
        @apply para-md max-w-sm text-balance text-center font-medium text-vneutral-50 sm:w-96;
      }

      &__text {
        @apply para-sm max-w-xs text-balance text-center font-normal text-vneutral-400 sm:w-80;
      }

      &:nth-child(n + 4) {
        @apply hidden md:flex;
      }
    }
  }

  .features {
    &__content {
      @apply flex flex-col items-center gap-8 xl:items-start;
    }

    &__list {
      @apply flex flex-col items-start gap-8;

      .feature {
        @apply flex items-start gap-4 self-stretch;

        &__content {
          @apply flex flex-col items-start justify-center gap-1;
        }

        &__title {
          @apply para-md max-w-xl font-medium text-vneutral-50;
        }

        &__text {
          @apply para-sm max-w-xl font-normal text-vneutral-400;
        }
      }
    }

    &__image {
      @apply h-[456px] object-cover object-center xl:h-full;
    }
  }

  .how-it-works {
    @apply flex items-center justify-center;

    &__content {
      @apply flex flex-col items-start gap-8 xl:flex-row xl:items-center xl:gap-4;
    }

    &__title {
      @apply h600 sm:h800 font-medium sm:w-[496px];
    }

    &__video {
      @apply h-auto w-full max-w-3xl rounded-3xl;
    }
  }

  .pricing {
    &__content {
      @apply flex flex-col items-start justify-center gap-8 pt-6;
    }

    &__image {
      @apply h-auto max-w-[70%] xl:max-w-[40%];
    }

    &__price {
      @apply flex items-start justify-center gap-2 self-stretch;

      & p {
        @apply text-center font-semibold text-vneutral-50;
      }

      &-clarification {
        @apply para-xs text-balance text-center font-normal text-vneutral-400;
      }
    }
  }

  .faq-list {
    @apply w-full max-w-3xl font-inter;

    &_home {
      @apply max-w-full md:max-w-xl;
    }

    &__content {
      @apply para-sm font-normal text-vneutral-400;

      &_home {
        @apply max-w-full md:max-w-xl;
      }

      & > a {
        @apply cursor-pointer text-brand-400 hover:text-brand-300;
      }

      & > ol {
        @apply list-decimal pl-8;

        & > li {
          @apply py-2;
        }
      }

      & > ul {
        @apply list-disc pl-8;

        & > li {
          @apply py-2;
        }
      }
    }
  }

  .ops-card {
    @apply flex max-w-2xl flex-col items-center justify-center gap-6 rounded-2xl border border-vneutral-1300 bg-white p-6 shadow-sm;

    &__title {
      @apply h200 self-center text-center font-semibold text-vneutral-50;
    }

    &__bullet-points {
      @apply flex flex-col flex-wrap items-start justify-center gap-x-8 gap-y-4 sm:flex-row;

      & .bullet-point {
        @apply flex items-start gap-2 sm:min-w-72;

        & .icon {
          @apply h-6 w-6 leading-6 text-brand-400;
        }

        & p {
          @apply para-sm font-medium leading-6 text-vneutral-200;
        }
      }
    }
  }

  .sub-card {
    @apply box-border flex w-72 flex-col items-center gap-4 
    rounded-2xl border border-vneutral-1300 bg-clip-padding p-6 
    shadow-sm backdrop-blur-md backdrop-filter transition-colors;

    &_light {
      @apply border-brand-900 hover:border-brand-800;
      &:hover {
        background: radial-gradient(
          circle closest-corner at var(--x, 100px) var(--y, 100px),
          rgba(158, 236, 232, 0.294) 0%,
          transparent 100%
        );
      }
    }

    &_green {
      @apply border-emerald-200  hover:border-emerald-300;
      &:hover {
        background: radial-gradient(
          circle closest-corner at var(--x, 100px) var(--y, 100px),
          rgba(156, 232, 152, 0.294) 0%,
          transparent 100%
        );
      }
    }

    &_gold {
      @apply border-warning-700 hover:border-warning-600;
      &:hover {
        background: radial-gradient(
          circle closest-corner at var(--x, 100px) var(--y, 100px),
          rgba(224, 191, 108, 0.294) 0%,
          transparent 100%
        );
      }
    }

    &__head {
      @apply flex flex-col items-center gap-2 self-stretch;
    }

    &__title {
      @apply h200 whitespace-nowrap text-center font-semibold leading-8 text-vneutral-50;
    }

    &__price {
      @apply h300 whitespace-nowrap text-center font-semibold leading-8 text-vneutral-50;

      &-period {
        @apply para-md font-medium text-vneutral-200;
      }
    }

    &__delimiter {
      @apply h-[1px] w-full bg-vneutral-1300;

      &_light {
        @apply bg-brand-900;
      }

      &_green {
        @apply bg-emerald-200;
      }

      &_gold {
        @apply bg-warning-600;
      }
    }

    & .bullet-points {
      @apply flex flex-col items-start gap-4 self-stretch;

      &__item {
        @apply flex items-start gap-2;

        &__text {
          @apply para-xs font-medium leading-6 text-vneutral-200;
        }

        &__icon {
          @apply para-md h-6 w-6 text-center font-medium leading-6 text-vneutral-600;

          &_light {
            @apply text-brand-400;
          }

          &_green {
            @apply text-emerald-500;
          }

          &_gold {
            @apply text-warning-500;
          }
        }
      }
    }
  }

  .team {
    &__person {
      @apply flex w-36 flex-col items-center justify-center gap-4;

      &__avatar {
        @apply h-32 w-32 rounded-full border-2 border-white;
      }

      &__content {
        @apply flex flex-col items-center gap-1;
      }

      &__name {
        @apply h50 self-stretch whitespace-pre text-center font-medium text-vneutral-50;
      }

      &__role {
        @apply para-xs self-stretch whitespace-pre text-center text-vneutral-400;
      }

      &__socials {
        @apply flex items-center justify-center gap-3 p-2;

        &__social {
          @apply h-6 w-6 transition-all hover:-translate-y-0.5;
        }
      }
    }
  }

  .publishing {
    &-list {
      @apply flex flex-wrap items-center justify-center gap-4;

      &__row {
        @apply flex items-center justify-center gap-4;
      }

      &__item {
        @apply h-32 w-44 rounded-2xl transition-transform hover:scale-105 sm:h-44 sm:w-64;

        &_habr {
          background:
            url(./publishing_habr.webp) no-repeat center,
            #629fbc;
          background-size: contain;
        }

        &_vc {
          background:
            url(./publishing_vc.webp) no-repeat center,
            #feebef;
          background-size: contain;
        }

        &_tc {
          @apply border-2 border-vneutral-1300;
          background:
            url(./publishing_tenchat.webp) no-repeat center,
            #ffffff;
          background-size: contain;
        }

        &_tg {
          background:
            url(./publishing_telegram.webp) no-repeat center,
            #28a8ea;
          background-size: contain;
        }
      }
    }
  }

  .badge {
    @apply h05 font-medium !important;

    &_light {
      @apply border-brand-900 bg-brand-1100 hover:border-brand-1000 hover:bg-brand-1200 !important;
    }

    &_light {
      @apply border-brand-900 hover:border-brand-1000;
    }

    &_green {
      @apply border-emerald-300 bg-emerald-100 hover:border-emerald-200 hover:bg-emerald-50 !important;
    }

    &_gold {
      @apply border-warning-500 bg-warning-700 hover:border-warning-600 hover:bg-warning-800 !important;
    }
  }

  .subtitle {
    &_ca {
      @apply flex max-w-3xl flex-col items-center justify-center gap-4;

      &__subheading {
        @apply self-stretch text-balance text-center font-semibold text-brand-400;
      }

      &__title {
        @apply h400 self-stretch text-balance text-center font-semibold text-vneutral-50;

        &_gradient {
          @apply bg-gradient-to-b from-vneutral-100 to-brand-400 bg-clip-text text-transparent;
        }
      }

      &__text {
        @apply para-sm md:para-md max-w-xl text-balance text-center font-normal text-vneutral-400;
      }

      &__action {
        @apply flex items-center justify-center gap-2 decoration-brand-400;

        & p {
          @apply h50 text-center font-medium text-brand-400;
        }
      }
    }

    &_la {
      @apply flex max-w-2xl flex-col items-start justify-center gap-4;

      &__title {
        @apply h400 self-stretch text-balance font-semibold text-vneutral-50;

        &_gradient {
          @apply bg-gradient-to-br from-vneutral-100 to-brand-400 bg-clip-text text-transparent;
        }
      }

      &__text {
        @apply para-sm md:para-md max-w-2xl text-pretty font-normal text-vneutral-400;
      }
    }
  }

  .icon {
    &_big {
      @apply flex items-center justify-center gap-2 rounded-full bg-brand-1200 p-4;
    }
  }

  .h800 {
    @apply font-manrope;
    font-size: 4.5rem; /* 72px */
    line-height: 5.375rem; /* 86px */
  }

  .h700 {
    @apply font-manrope;
    font-size: 3.875rem; /* 62px */
    line-height: 4.5rem; /* 72px */
  }

  .h600 {
    @apply font-manrope;
    font-size: 3.5rem; /* 56px */
    line-height: 4.25rem; /* 68px */
  }

  .h500 {
    @apply font-manrope;
    font-size: 3rem; /* 48px */
    line-height: 3.5rem; /* 56px */
  }

  .h400 {
    @apply font-manrope;
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px */
  }

  .h300 {
    @apply font-manrope;
    font-size: 2rem; /* 32px */
    line-height: 2.5rem; /* 40px */
  }

  .h200 {
    @apply font-manrope;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
  }

  .h100 {
    @apply font-manrope;
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
  }

  .h50 {
    @apply font-inter;
    font-size: 1rem; /* 16px */
    line-height: 1.25rem; /* 20px */
  }

  .h05 {
    @apply font-inter;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
  }

  .para {
    &-xs {
      @apply font-inter;
      font-size: 0.875rem; /* 14px */
      line-height: 1.5rem; /* 24px */
    }

    &-sm {
      @apply font-inter;
      font-size: 1rem; /* 16px */
      line-height: 1.75rem; /* 28px */
    }

    &-md {
      @apply font-inter text-lg;
    }
  }
}
