@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  section {
    @apply py-24;
  }

  .logo {
    @apply hover:logo_filter h-11 transition duration-300;

    &_filter {
      filter: invert(72%) sepia(30%) saturate(593%) hue-rotate(139deg) brightness(95%) contrast(82%);
    }
  }

  .menu {
    @apply absolute left-0 right-0 top-0 mt-[84px] flex items-center justify-center bg-white pb-4 lg:pb-0;

    &_desktop {
      margin-top: 0px;
      position: initial;
      display: initial;
    }

    &-link {
      @apply text-center font-inter text-vneutral-200;
    }
  }

  .hero {
    @apply container flex items-center justify-center py-0;
    min-height: calc(100dvh - 84px);

    &-btn {
      @apply inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md bg-gradient-to-br 
      from-brand-400 via-[#94bce9] to-violet-300 bg-size-200 bg-pos-0 px-4 
      py-6 text-white transition-all duration-500 hover:bg-pos-100;
    }

    &__content {
      @apply z-[2] flex max-w-xl flex-col items-center justify-center gap-4 lg:items-start;

      &-title {
        @apply h400-40-semibold sm:h600-56-semibold whitespace-nowrap text-balance text-center text-vneutral-50 lg:text-left;
      }

      &-subtitle {
        @apply sm:para-md-regular para-sm-regular text-balance text-center text-vneutral-400 lg:text-left;
      }

      &-btn-group {
        @apply flex items-center gap-2 pt-4;
      }
    }

    &__image {
      @apply max-w-full ease-in sm:max-w-xl lg:max-w-full;
      transition: opacity 0.3s;

      &_transitioning {
        opacity: 0;
        transition: opacity 0.4s ease-out;
      }
    }

    &__gradient {
      @apply relative left-0 top-[-32rem] z-[1] h-0 w-0 shrink-0 sm:top-[-40rem] lg:top-[-20rem];

      &__ellipse {
        @apply absolute h-52 w-52 shrink-0 rounded-full blur-[61px] sm:h-80 sm:w-80 sm:blur-[124px];

        &_1 {
          z-index: 0;
          background: linear-gradient(313deg, #77fff7 45%, rgba(1, 255, 179, 0) 100%);
        }

        &_2 {
          left: 5rem;
          z-index: -1;
          background: linear-gradient(313deg, #0038ff 0%, rgba(246, 252, 255, 0) 100%);
        }
      }
    }
  }

  .faq-list {
    @apply w-full max-w-3xl font-inter;

    &__content {
      @apply para-sm-regular text-vneutral-400;

      & > a {
        @apply cursor-pointer text-brand-400 hover:text-brand-300;
      }

      & > ol {
        @apply list-decimal pl-8;

        & > li {
          @apply py-2;
        }
      }

      & > ul {
        @apply list-disc pl-8;

        & > li {
          @apply py-2;
        }
      }
    }
  }

  .subtitle_ca {
    @apply flex max-w-3xl flex-col items-center justify-center gap-4;

    &__subheading {
      @apply self-stretch text-balance text-center text-brand-400;
    }

    &__title {
      @apply h400-40-semibold self-stretch text-balance text-center text-vneutral-50;

      &_gradient {
        @apply bg-gradient-to-r from-vneutral-100 to-brand-400 bg-clip-text text-transparent;
      }
    }

    &__text {
      @apply para-sm-regular md:para-md-regular max-w-xl text-balance text-center text-vneutral-400;
    }
  }

  .h600-56-semibold {
    @apply font-manrope font-semibold;
    font-size: 3.5rem; /* 56px */
    line-height: 4.25rem; /* 68px */
  }

  .h400-40-semibold {
    @apply font-manrope font-semibold;
    font-size: 2.5rem; /* 40px */
    line-height: 3rem; /* 48px */
  }

  .h300-32-semibold {
    @apply font-manrope font-semibold;
    font-size: 2rem; /* 32px */
    line-height: 2.5rem; /* 40px */
  }

  .h100-20-semibold {
    @apply font-manrope font-semibold;
    font-size: 1.25rem; /* 20px */
    line-height: 1.5rem; /* 24px */
  }

  .para {
    &-sm {
      &-regular {
        @apply font-inter font-normal;
        font-size: 1rem; /* 16px */
        line-height: 1.75rem; /* 28px */
      }
    }

    &-md {
      &-regular {
        @apply font-inter text-lg font-normal;
      }
    }
  }
}
